[submodule "private"]
	path = private
	url = https://github.com/SkastVnT/AI-Assistant-private.git
	ignore = untracked
[submodule "services/edit-image/ComfyUI/custom_nodes/ComfyUI-Manager"]
	path = services/edit-image/ComfyUI/custom_nodes/ComfyUI-Manager
	url = https://github.com/Comfy-Org/ComfyUI-Manager
	ignore = dirty
[submodule "services/edit-image/ComfyUI/custom_nodes/ComfyUI_IPAdapter_plus"]
	path = services/edit-image/ComfyUI/custom_nodes/ComfyUI_IPAdapter_plus
	url = https://github.com/cubiq/ComfyUI_IPAdapter_plus.git
	ignore = dirty
[submodule "services/edit-image/ComfyUI/custom_nodes/ComfyUI_essentials"]
	path = services/edit-image/ComfyUI/custom_nodes/ComfyUI_essentials
	url = https://github.com/cubiq/ComfyUI_essentials
	ignore = dirty
[submodule "services/edit-image/ComfyUI/custom_nodes/comfyui_controlnet_aux"]
	path = services/edit-image/ComfyUI/custom_nodes/comfyui_controlnet_aux
	url = https://github.com/Fannovel16/comfyui_controlnet_aux.git
	ignore = dirty
[submodule "services/stable-diffusion_upstream"]
	path = services/stable-diffusion_upstream
	url = https://github.com/AUTOMATIC1111/stable-diffusion-webui.git
	ignore = dirty
[submodule "ComfyUI"]
	path = ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI.git
	ignore = dirty
