<!DOCTYPE html>
<html lang="en">
<head>
{% include 'partials/chat/_head_assets.html' %}
</head>
<body>
{% include 'partials/chat/_titlebar_debug.html' %}

<div class="app">
    {% include 'partials/chat/_sidebar.html' %}

    <!-- Main -->
    <div class="main">
        {% include 'partials/chat/_topbar.html' %}
        {% include 'partials/chat/_chat_area.html' %}
        {% include 'partials/chat/_composer.html' %}
    </div>

    {% include 'partials/chat/_mcp_sidebar.html' %}
</div>

{% include 'partials/chat/_modals_image.html' %}
{% include 'partials/chat/_modals_video.html' %}
{% include 'partials/chat/_modals_shared.html' %}
{% include 'partials/chat/_right_sidebar.html' %}
{% include 'partials/chat/_scripts.html' %}
</body>
</html>
